<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Tree Simulator | Simulador de Árbol de Decisión</title>
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'predictor/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>

    <meta name="description" content="Simulador de Árbol de Decisión para predecir el nivel de afectados en desastres naturales en Ecuador.">
    <meta name="keywords" content="Machine Learning, Árbol de Decisión, Desastres Naturales, Ecuador, Predicción">
    <meta name="author" content="Bryan Garay">

    <meta property="og:title" content="Decision Tree Simulator | Simulador de Árbol de Decisión">
    <meta property="og:description" content="Simulador de Árbol de Decisión para predecir el nivel de afectados en desastres naturales en Ecuador.">
    <meta property="og:image" content="https://i.ibb.co/6mvdCDD/preview.png">
    <meta property="og:url" content="https://decision_tree_simulator.onrender.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Decision Tree Simulator | Simulador de Árbol de Decisión">
    <meta name="twitter:description" content="Simulador de Árbol de Decisión para predecir el nivel de afectados en desastres naturales en Ecuador.">
    <meta name="twitter:image" content="https://i.ibb.co/6mvdCDD/preview.png">
    
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'predictor/styles.css' %}">
    <link rel="shortcut icon" href="https://i.ibb.co/6mvdCDD/preview.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
</head>

<body>
    <h1>Predicción de Nivel de Afectados en Desastres Naturales en Ecuador</h1>
    <div class="container">
        <div class="form-container">
            <form id="predict-form">
                {% csrf_token %}
                <label for="modelo">Modelo:</label>
                <select id="modelo" name="modelo" {% if mode == 'production' %}disabled{% endif %}>
                    <option value="python">Python Decision Tree</option>
                    <option value="rapidminer">RapidMiner Decision Tree</option>
                </select>
                <label for="canton">Cantón:</label>
                <select id="canton" name="canton" class="select2">
                    {% for nombre, codigo in cantones.items %}
                        <option value="{{ nombre }}">{{ nombre }}</option>
                    {% endfor %}
                </select><br>
                <label for="evento">Evento:</label>
                <select id="evento" name="evento" class="select2">
                    {% for nombre, codigo in eventos.items %}
                        <option value="{{ nombre }}">{{ nombre }}</option>
                    {% endfor %}
                </select><br>
                <label for="causa">Causa:</label>
                <select id="causa" name="causa" class="select2">
                    {% for nombre, codigo in causas.items %}
                        <option value="{{ nombre }}">{{ nombre }}</option>
                    {% endfor %}
                </select><br>
                <label for="categoria">Categoría del Evento:</label>
                <select id="categoria" name="categoria" class="select2">
                    {% for nombre, codigo in categorias.items %}
                        <option value="{{ nombre }}">{{ nombre }}</option>
                    {% endfor %}
                </select><br>
                <label for="mes">Mes:</label>
                <select id="mes" name="mes" required>
                    {% for mes in meses %}
                        <option value="{{ mes }}">{{ mes }}</option>
                    {% endfor %}
                </select>
                <label for="infraestructura">Total de Infraestructura Afectada:</label>
                <input type="number" id="infraestructura" name="infraestructura" min="0" max="10000000" required>
                <button type="button" onclick="makePrediction()">Predecir</button>
            </form>
        </div>
        <div class="result-training-container">
            <div class="result-container">
                <h2>Resultado de la Predicción</h2>
                <div id="loader" style="display:none;">
                    <div class="spinner"></div>
                </div>
                <canvas id="predictionChart"></canvas>
                <p id="finalPrediction"></p>
            </div>
            <div class="training-container">
                <h2>Re-Entrenamiento: Modelo de Python</h2>
                <p>Puedes subir tu dataset <a href="https://www.datosabiertos.gob.ec/dataset/eventos-peligrosos" target="_blank"> Eventos Peligrosos</a> actualizado  </br> en formato CSV para reentrenar el modelo de Python</p>
                <form id="upload-csv-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="file" id="csv-file" accept=".csv" class="file-input">
                    <button type="button" onclick="uploadCSV()" class="btn-upload">Cargar CSV y Procesar</button>
                </form>
                <div id="loader-csv" style="display:none;">
                    <div class="spinner"></div>
                </div>       
                <a id="download-link" class="download-link" style="display: none;">Download Processed CSV</a>
                <p id="upload-message"></p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <span>Proyecto Final - Programación de Análisis de Datos - Docente: PhD. Julian Galindo - UISEK </span></br>
            <span>Autor: Bryan Garay</span>
            <a href="https://www.linkedin.com/in/bg99astro" target="_blank">
                <img src="{% static 'predictor/LI_In_Logo.png' %}" alt="LinkedIn" class="footer-icon"> LinkedIn
            </a>
            <a href="mailto:bryangarayacademico@gmail.com">
                <img src="{% static 'predictor/Gmail_Logo.png' %}" alt="Gmail" class="footer-icon"> Gmail
            </a>
        </div>
    </footer>
    <script src="{% static 'predictor/script.js' %}"></script>
</body>
</html>
